header{
    position: relative;
    width: 92%;
    position: fixed;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 4em;
    background-color: black;
}
header img{
    width: 4em;
}
header nav{
    display: flex;
}
header a{
    color: white;
    padding: 1.45em 0.8em;
    border-bottom: solid 0.6em #000;
}
header a:hover{
    border-bottom: solid 0.6em #fff;
    color: rgb(156, 156, 156);
}
header nav a{
    display: flex;
    align-items: center;
    gap: 0.4em;
}
header nav img{
    rotate: 90deg;
    width: 1.5em;
    border-radius: 50%;
    background-color: white; 
}
#maisOpcao{
    text-align: center;
    position: absolute;
    margin-left: 31em;
    margin-top: 4em;
    background-color: #000;
}
#maisOpcao a{
    border: none;
}